---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
//import Card from '..components/Card.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/icons/SocialPill.astro'
import GithubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro'
import Experencia from '../components/Experencia.astro'
import Experenciap from '../components/Experenciap.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../components/icons/Briefcase.astro'
import CodeIcon from "../components/icons/Code.astro"
import Projects from '../components/Projects.astro'
---

<Layout 
	title="Portafolio de Camilo Gomez Dev - Desarrollador y Programador web, Gestión de base de datos"
	description="Contrata a Camilo Gómez para crear tu aplicación web. Desarrollador Web especializado en soluciones únicas con tecnologías como JavaScript, Python y MySQL."
	>


	<main class="px-4">
		<SectionContainer class="py-40 pb-20">
			<div class="rounded-full w-24 h-24 overflow-hidden">
				<img 
					class="w-full h-full object-cover object-top" 
					src="/src/assets/Foto Camilodev.jpg"  
					alt="Camilo dev"
				/>
			</div>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola! Soy Camilo Gómez <a 
				href="https://www.linkedin.com/in/camilogdev"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>

					<Badge>Disponible para trabajar</Badge> 
				</a>
			</h1>
			<h2 class=" text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>Con conocimientos en </span>
				<span class="text-yellow-200/90"> desarrollo web y manejo de datos con SQL.</span>
				de Bogotá, Colombia. Estoy enfocado en fortalecer mis <span class="text-cyan-300/90">habilidades y aportar soluciones innovadoras</span> en el campo 
				<span class="text-red-400/90"> del desarrollo de software</span><span class="opacity-80">, aprendiendo de manera continua para afrontar nuevos desafíos.</span>
			</h2>

			<nav class="list-none flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/camilogdev">
						<LinkedInIcon class="size-4 md:size-6" />
						LinkedIn	
					</SocialPill>
					<SocialPill href="https://github.com/CamAGomezB27?tab=repositories">
						<GithubIcon class="size-4 md:size-6" />
						GitHub
					</SocialPill>
					<SocialPill href="mailto:camigomezbernal@gmail.com">
						<MailIcon class="size-4 md:size-6" />
						camigomezbernal@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
				<Briefcase class="size-6"/>
				Experencia Laboral
			</h2>
			<Experencia />
		</SectionContainer>
		<SectionContainer>
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
				<Briefcase class="size-6"/>
				Experencia Personal
			</h2>
			<Experenciap />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-5 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
