---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
//import Card from '..components/Card.astro'
---

<Layout title="Welcom to Astro.">
	<main>

		<section class="w-full lg:w-[740px] mx-auto py-10">
			<img 
            class="rounded-full w-25 h-24 object-cover" 
			src="/src/assets/Foto Camilodev.jpg"  
            alt="Camilo dev"
        />
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hola! Soy Camilo Gómez <a 
				href="https://www.linkedin.com/in/camilogdev"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>

					<Badge>Disponible para trabajar</Badge> 
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>Con conocimientos en </span>
				<span class="text-yellow-200/90"> desarrollo web y manejo de datos con SQL.</span>
				De Bogotá, Colombia. Estoy enfocado en fortalecer mis <span class="text-cyan-300/90">habilidades y aportar soluciones innovadoras</span> en el campo 
				<span class="text-red-400/90"> del desarrollo de software </span>
				<span class="opacity-80">, aprendiendo de manera continua para afrontar nuevos desafíos.</span>
			  </h2>

			<ul></ul>
		</section>
	</main>
</Layout>
