---
import { date } from "astro:schema"
import ExperenciaItem from "./ExperenciaItem.astro"

const EXPERENCIE = [
    {
        date: 'Actualmente...',
        title: 'Sodimac Corona | Home center, Bogotá D.C',
        description: 'Practicante Universitario Desarrollo y Automatización, diseño y desarrollo de soluciones web con HTML, CSS y JavaScript, automatizado procesos con Python y optimizado tareas operativas para mejorar la eficiencia del equipo.',
    },
    {
        date: 'Nov 2023 - Ene 2025',
        title: 'One Contact S.A.S,  Bogotá D.C',
        description: 'Asesor Comercial, asesoramiento personalizado a clientes, gestión de comunicaciones multicanal (llamadas, chats y correos), análisis de necesidades para ofrecer soluciones adecuadas, cierre de ventas con seguimiento posventa y coordinación con equipos internos para garantizar la satisfacción del cliente.',
    },
    {
        date: 'Nov 2022',
        title: 'Asesoría & Gestión, Bogotá D.C',
        description: 'Apoyo a monitoreo y verificación de la información, control y monitoreo de información, manejo de sistemas informáticos, mantenimiento de bases de datos y registros, además de la elaboración de informes, reportes y gestión de documentación y archivos.',
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERENCIE.map(experiencie => (
        <li class="mb-10 ms-4">
            <ExperenciaItem {...experiencie} />
        </li>
        ))
    }
</ol>
