---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: ligth dark;
	}
	html{
		font-family: "Onest Variable",system-ui, sans-serif;
	}
	body{
		background: linear-gradient(black, rgb(83, 83, 83), rgb(185, 185, 185));
		height: 100vh;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	
</style>
